.main{
 
}
.container{
  display:flex;
}
.team p{
  margin: 0;
}
.team{
  margin:20px;
  border: 2px solid lightgray;
  margin-left: 10px;
  border-radius: 5px;
  padding: 20px;

  

}
.team img{
  width: 400px;
  height: 30%;

}
.Data-coun{}
.team button{
  background-color:green;
}
 